name: tests

on:
  push:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: pnpm

      - name: Setup pnpm
        run: |
          corepack enable
          corepack prepare pnpm@9.12.3 --activate

      - name: Install
        run: pnpm install --frozen-lockfile

      - name: Run tests
        run: pnpm -r test
